<h1>welcome to Fly Airways !</h1>
<br/><br/>
<p>  &nbsp;&nbsp;&nbsp;Fly Airways provides you facility to search for available flight details,
  book seat for particular flight, view airport details,Managing profile if you are
  a registered user And many more....
</p>
<br/><br/>
<p>
   <a href='/users/new/'>Click here</a> to Register yourself  with Fly Airways !<br/>
   Registered Users <a href='/users/login'>Click here</a> for Login to the Fly Airways !
</p>



