<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Seats: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
</head>
<body>

<p style="color: green"><%= notice %></p>

<div id="header">
	<div id="logo">
		<h1><a href="#">Air Travel Booking<sup></sup></a></h1>
                <h2>book seats for flights from heathrow</h2>
		
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="http://localhost:3000/flights">homepage</a></li>
			
		</ul>
	</div>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">

		<%= yield %>
	</div>
	<!-- end content -->
	
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->



</body>
</html>
